container_commands:
    01_migrate:
        command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
        leader_only: true
    02_cron_job:
        command: "cat .ebextensions/cron.txt > /etc/cron.d/momo_cron_job && chmod 644 /etc/cron.d/momo_cron_job"
        leader_only: true
    03_detect:
        command: "source /opt/python/run/venv/bin/activate && python manage.py detectmodems "
        leader_only: true
    04_collectstatic:
        command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: momo_server/wsgi.py
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"